body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(180deg, #4F46E5, #9995e0);
  margin: 0;
}

.main-container {
  display: flex;
  max-width: 900px;
  width: 100%;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.promo-container {
  flex: 1;
  background: linear-gradient(180deg, #4F46E5, #9995e0);
  color: white;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-title {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.promo-subtitle {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.promo-img {
  width: 150px;
  height: auto;
}

.login-container {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container h2 {
  font-size: 2em;
  margin:auto;
}

.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  /* Menempatkan elemen-elemen form di sebelah kiri */
}

.login-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.login-form input,
.login-form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
}

.login-form button {
  background-color: #4F46E5;
  color: white;
  cursor: pointer;
}


.login-form a {
  color: #247ba0;
}

.login-form a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  height: 20px;
  margin:auto;
}
