body {
    font-family: 'inter';
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4d4ddb, #8a4de6);
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container {
    width: 80%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
    backdrop-filter: blur(10px);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
    font-size: 24px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.edit-btn {
    padding: 10px 20px;
    background-color: #5a5aff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    &:hover {
        scale: 1.2;
    }
}

.edit-btn:last-child {
    margin-right: -50px;
}

.button-container:has(.edit-btn:hover) .edit-btn:not(:hover){
    background-color: #4545ff;
    scale: 0.8;
    opacity: 0.8;
    filter: blur(4px);
}

.profile-info p {
    margin: 10px 0;
    font-size: 18px;
    color: white;
}

.profile-info p:last-child {
    margin-bottom: 0;
}

button {
    background-color: #5a5aff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(0.8);
    background-color: green;
}

button.hide-button {
    background-color: red;
}
