body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f9ff;
    background-image: url("background.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .container {
    background-color: #e0eefa;
    border-radius: 5px;
    padding: 30px;
    text-align: center;
  }
  
  .title {
    color: #247ba0;
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-form input,
  .register-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .register-form button {
    background-color: #247ba0;
    color: #fff;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #17698c;
  }